.groupListWrapper {
    margin: 12px 15px;
    padding-left: 0;
}

.groupListWrapper li {
    list-style: none;
    margin-bottom: 5px;
}

.groupListWrapper li .groupItemWrapper  {
    display: flex;
    align-items: flex-start;
}

.groupListWrapper li .groupItemWrapper img {
    width: 17px;
    margin-top:2px;
    margin-right: 8px;
}

.groupListWrapper li .groupItemWrapper span {
    font-size: 16px;
    line-height: 130%;
}