.todoListWrapper {
    margin: 50px;
}

.todoListWrapper .todoListHeader {
    display: flex;
    justify-content: center; /* 가로 정렬 */
    align-items: center; /* 세로 정렬 */
    margin-bottom: 50px;
}

.todoListWrapper .todoListHeader .line {
    border: 4px solid #33322E;
    box-sizing: border-box;
    border-radius: 36px;
    width: 20%; 
}

.todoListWrapper .todoListHeader .title {
    margin: 0 30px;
    font-size: 48px;
    color: #33322E;
}

.todoListWrapper .todoGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.todoListWrapper .todoGrid .todoGridItem {
    width: 25%;
    display: flex;
    flex-direction: column;
}